page-wheel {
  .svg-wheel {
    width: 300px; height: 300px;
    transform: rotate(-90deg);
    //background: yellowgreen;
    border-radius: 100%;
  }

  .svg-indicator {
    width: 300px; height: 300px;
    //transform: rotate(-90deg);
    //background: yellowgreen;
    //border-radius: 100%;
  }

  circle {
    fill: yellowgreen;
    stroke: #655;
    stroke-width: 32;
    stroke-dasharray: 20 100; /* for 38% */
  }

  .indicator-container {
    position: absolute;
    bottom: 97px;
    left: 6px;
  }

  .wheel-container {
    position: absolute;
    bottom: -50px;
    left: 37.5px;
  }
}

page-wheel.ion-page.show-page {
  opacity: .95;
}
