<ion-scroll scrollY="true">

  <chart-timeline
    [sector]="sectorSymbol"
    (timeLineChanged)="fundTimelineChanged($event)"
  >

  </chart-timeline>

  <div id="sectorChart"></div>
  
  <ion-item>
    <ion-row nowrap align-items-start>
      <ion-col>
          <span class="sAndP500Name">S&amp;P 500</span>
      </ion-col>
      <ion-col>
          <span class="sAndPValue">{{lastSAndPValue | number : '1.2-2' }}</span>
      </ion-col>
      <ion-col>
          <span class="price-change" [ngClass]="sSAndPChangeClass">
              {{sAndPChangePercent | percentChangeFormat }}
          </span>
          <span class="chartType">
              ({{chartType}})
          </span>
        </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
      <ion-row nowrap align-items-start>
        <ion-col>
            <span [style.color]="color" class="sectorName">{{symbol}}</span>
        </ion-col>
        <ion-col>
            <span class="sectorValue">{{lastValue | currency: 'USD' }}</span>
        </ion-col>
        <ion-col>
            <span class="price-change" [ngClass]="changeClass">
                {{changePercent | percentChangeFormat }}
            </span>
            <span class="chartType">
                ({{chartType}})
            </span>
          </ion-col>
      </ion-row>
    </ion-item>
  
    <div  [innerHTML]="generalDisclaimer" class='disclaimer' padding></div>

  <p></p>
</ion-scroll>
