<svg width="330" height="132">

    <rect x="60" y="12" width="200" height="80" stroke="#383F49" stroke-width="2px" fill-opacity="0"/>
    <rect x="60" y="50" width="200" height="40" stroke="#383F49" stroke-width="2px" fill="#383F49"/>

    <rect x="140" y="0" width="50" height="30" fill="#191E23" />
    <text x="50%" y="15%" alignment-baseline="top" text-anchor="middle" fill="white">1 Year</text>

    <text x="50" y="70" alignment-baseline="top" text-anchor="end" font-size="16" fill="white">{{fiftyTwoWeekLow | currency: 'USD'}}</text>
    <text x="50" y="85" alignment-baseline="top" text-anchor="end" font-size="12" fill="white">low</text>

    <text x="270" y="70" alignment-baseline="top" text-anchor="start" font-size="16" fill="white">{{fiftyTwoWeekHigh | currency: 'USD'}}</text>
    <text x="270" y="85" alignment-baseline="top" text-anchor="start" font-size="12" fill="white">high</text>

    <text [attr.x]="todayLastStart" y="40" alignment-baseline="top" text-anchor="middle" [attr.fill]="sColor">Today</text>

    <rect [attr.x]="todayLowStart" y="50" [attr.width]="todayRangeWidth" height="80" fill="gray" fill-opacity="0.5"/>
    <rect [attr.x]="todayLastStart" y="50" width="3" height="80" [attr.fill]="sColor"/>

    <text [attr.x]="todayLowLabelEnd" y="115" alignment-baseline="top" text-anchor="end" font-size="16" [attr.fill]="sColor">{{dayLow | currency: 'USD'}}</text>
    <text [attr.x]="todayLowLabelEnd" y="130" alignment-baseline="top" text-anchor="end" font-size="12" [attr.fill]="sColor">low</text>

    <text [attr.x]="todayHighLabelStart" y="115" alignment-baseline="top" text-anchor="start" font-size="16" [attr.fill]="sColor">{{dayHigh | currency: 'USD'}}</text>
    <text [attr.x]="todayHighLabelStart" y="130" alignment-baseline="top" text-anchor="start" font-size="12" [attr.fill]="sColor">high</text>

  </svg>
