<ion-grid padding>
  <ion-row text-left>
    <ion-col col-3>
      <fund-donut
        [color]="sectorColor"
        [weight]="weight">
      </fund-donut>
    </ion-col>
    <ion-col col-9>
      <div class="value">{{weight | percentStringFormat}}</div>
      <div class="description">Estimated weight of {{symbol}} components in the S&amp;P 500</div>
    </ion-col>
  </ion-row>
  <ion-row text-left>
    <ion-col col-4>
      <div align="left" class="divider" [ngClass]="sectorDividerClass"></div>
      <div class="description">Distributions</div>
      <div class="value">{{distributionFrequency}}</div>
    </ion-col>
    <ion-col col-4>
      <div align="left" class="divider" [ngClass]="sectorDividerClass"></div>
      <div class="description"># of Holdings</div>
      <div class="value">{{numberOfStocks}}</div>
    </ion-col>
    <ion-col col-4>
      <div align="left" class="divider" [ngClass]="sectorDividerClass"></div>
      <div class="description">Short Selling</div>
      <div class="value">{{shortSelling}}</div>
    </ion-col>
  </ion-row>
  <ion-row text-left>
    <ion-col col-4>
      <div align="left" class="divider" [ngClass]="sectorDividerClass"></div>
      <div class="description">Expense Ratio</div>
      <div class="value">{{expenseRatio | percentStringFormat}}</div>
    </ion-col>
    <ion-col col-4>
      <div align="left" class="divider" [ngClass]="sectorDividerClass"></div>
      <div class="description">Options</div>
      <div class="value">{{options}}</div>
    </ion-col>
    <ion-col col-4>
      <div align="left" class="divider" [ngClass]="sectorDividerClass"></div>
      <button ion-button outline small color=light [ngClass]="sectorButtonClass" (click)="howToPurchase()">How to purchase</button>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="fund-description" padding text-left>
  <h4>About This Fund</h4>
  <p>{{description}}</p>
</div>
