<ion-list padding color="secondary">
  <ion-list-header color="secondary">
    {{sectorName}}
  </ion-list-header>
  <ion-item color="secondary" text-wrap>
    {{description}}
  </ion-item>
  <ion-item color="secondary">
    <ion-label>Distributions</ion-label>
    <ion-label text-right>{{distributionFrequency}}</ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>Expense Ratio</ion-label>
    <ion-label text-right>{{expenseRatio}}</ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label># of Holdings</ion-label>
    <ion-label text-right>{{numberOfStocks}}</ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>Short Selling </ion-label>
    <ion-label text-right>{{shortSelling}}</ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>Options</ion-label>
    <ion-label text-right>{{options}}</ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>Weight</ion-label>
    <ion-label text-right>{{weight}}%</ion-label>
  </ion-item>
</ion-list>
