<ion-scroll scrollY="true">
<div *ngIf="dailyCalculation !== undefined">
  <ion-list padding>
    <ion-list-header color="secondary">
      as of {{dailyCalculation.lastUpdateTime}} {{dailyCalculation.lastUpdateDate}}
    </ion-list-header>
    <ion-item color="secondary">
      <ion-label>Nav</ion-label>
      <ion-label text-right>{{dailyCalculation.netAssetValue}}</ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>Last Trade</ion-label>
      <ion-label text-right>{{dailyCalculation.lastTrade}}</ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label col-9>Last Trade to Nav Change</ion-label>
      <ion-label text-right>{{dailyCalculation.lastTradeToNetAssetValueChange}}</ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label col-9>Last Trade to Nav Change Percent</ion-label>
      <ion-label text-right>{{dailyCalculation.lastTradeToNetAssetValuePctChange}}%</ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label col-9>Bid/Offer Midpoint</ion-label>
      <ion-label text-right>{{dailyCalculation.mid}}</ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label col-9>Bid/Offer Midpoint to Nav Change</ion-label>
      <ion-label text-right>{{dailyCalculation.midToNetAssetValueChange}}</ion-label>
    </ion-item>
    <ion-item color="secondary">
      <ion-label col-9>Bid/Offer Midpoint to Nav Change Percent</ion-label>
      <ion-label text-right>{{dailyCalculation.midToNetAssetValuePctChange}}%</ion-label>
    </ion-item>
  </ion-list>
</div>
<div  [innerHTML]="additionalDisclaimer" class='disclaimer' padding></div>
	<hr>
 <div  [innerHTML]="generalDisclaimer" class='disclaimer' padding></div>
</ion-scroll>