<ion-scroll scrollY="true">
<div padding style="background-color: #383F49;">
  <button ion-button *ngIf="dividendScheduleDocument" (click)='documentSelected(dividendScheduleDocument);' color="dark">
    {{dividendScheduleDocument.title}}
  </button>

  <!-- <h1>Fund Distributions</h1> -->
  <h4>10 Year Distributions Overview</h4>

  <ion-item color="secondary">
    <ion-select text-wrap [(ngModel)]="distributionYearIndex" (ionChange)="distributionYearChange($event)" color="secondary">
      <ion-option *ngFor="let dividendDistribution of dividendDistributions let i=index" value="{{i}}">Year {{dividendDistribution.year}}</ion-option>
    </ion-select>
  </ion-item>

  <div padding *ngIf="selectedDistribution !== undefined">
    <ion-list>
      <ion-item color="secondary">
        <ion-label>Rate Share</ion-label>
        <ion-label text-right>{{selectedDistribution.rate}}</ion-label>
      </ion-item>
      <ion-item color="secondary">
        <ion-label>Ordinary Income</ion-label>
        <ion-label text-right>{{selectedDistribution.ordinaryIncome}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <h4>Dividend Details</h4>

  <ion-item color="secondary">
    <ion-select text-wrap [(ngModel)]="dividendYearIndex" (ionChange)="dividendYearChange($event)">
      <ion-option *ngFor="let dividendDistribution of dividendDistributions let i=index" value="{{i}}">Year {{dividendDistribution.year}}</ion-option>
      <ion-option value="100">Last Four Dividends</ion-option>
    </ion-select>
  </ion-item>

  <div padding *ngIf="selectedDividends !== undefined">
    <ion-list>
      <ion-item *ngFor="let dividend of selectedDividends" class="item" href="#" color="secondary">
        <ion-label>{{dividend.exDividendDate}}</ion-label>
        <ion-label text-right>{{dividend.ratePerShare}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>

<div  [innerHTML]="additionalDisclaimer" class='disclaimer' padding></div>
	<hr>
 <div  [innerHTML]="generalDisclaimer" class='disclaimer' padding></div>
</ion-scroll>