fund-distribution {

h4 {
   color: #FFFFFF;
}

.disclaimer{
    font-size: 14px;
    color: white;
  }

  a {
    color: #2b7ad7;
  }
  hr
   {
   border:none;
   border-bottom:2px solid white;
   }
 }