fund-profile {
    .positive{
        font-weight: bolder;
        color: green;
    }
    .negative{
        font-weight: normal;
        color: red;
    }
    .neural{
        font-weight: normal;
        color: gray;
    }
}
