<ion-header>

  <ion-navbar [color]="'dark'">
    <ion-title style="width: 100%">
      <img src="assets/imgs/sector_spdr_logo_small.svg" style="width:100px">
      <div style="width: 100vw;height:2px;background: blue"></div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row wrap *ngFor="let i of rows">
      <ion-col *ngFor="let tracker of sectorTrackers | slice:(i*2):(i+1)*2" width-50>
        <div class="row responsive-sm">
          <sector-tracker *ngIf="tracker.symbol !== ''" class="tile" [tracker]="tracker" (trackerSelected)="handleTrackerSelected($event)">
          </sector-tracker>
          <s-and-p-tracker *ngIf="tracker.symbol === ''" class="tile">
          </s-and-p-tracker>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
