page-tracker {

    .logo {
        height: 42px;
        margin-bottom: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
   
    .tile {
        width: 100%;
    }

}
