page-fund-properties {
  .slide-zoom {
    height: 100%;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 15%;
    background-color: navy;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #545B65;
    opacity: 0.96;
  }

  .list-ios .item-block .item-inner {
    border-bottom: 1px dashed white;
  }

  .toolbar-ios {
    padding: 0;
  }

  .fund-title {
    white-space: nowrap;
  }

  .symbol-style {
    display: inline-block;
    font-weight: bolder;
  }

  // sets up the svg as a fixed background image but I could not set the specific
  // color of the image
  ion-content {
    background-position: left 150px top 40%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


}
