page-fund-properties {
  .slide-zoom {
    height: 100%;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 15%;
    background-color: navy;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #545B65;
    opacity: .96;
  }

  .list-ios .item-block .item-inner {
    border-bottom: 1px dashed white;
  }

  .toolbar-ios {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .fund-title {
    white-space: nowrap;
  }

}
