fund-banner {
  .positive{
      font-weight: bolder;
      color: green;
  }
  .negative{
      font-weight: normal;
      color: red;
  }
  .neutral{
      font-weight: normal;
      color: gray;
  }
}
