<div class="banner">
  <ion-grid>
    <ion-row nowrap align-items-center>
      <ion-col col-auto>
        <img [src]="icon" class="sectorIcon" >
        <div class="sectorName" [ngClass]="symbolColorClass">{{sectorName}}</div>
      </ion-col>
    </ion-row>
    <ion-row nowrap align-items-end>
      <ion-col col-auto>
        <div class="price">{{last | currency:'USD'}}</div>
      </ion-col>
      <ion-col col-6>
        <div class="price-change" [ngClass]="changeClass">{{change | priceChangeFormat }}({{changePercent | percentChangeFormat }})
          <img [src]="changeGraphics" class="changeGraphics">
        </div>
      </ion-col>
      <ion-col col-auto>
        <div class="volume-label">Volume</div> <div class="volume">{{volume | bigNumberFormat}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div float-left class="as-of">as of {{lastTimeStamp | date:'h:mm a'}} ET {{lastDate | date:'MMMM d, y'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
