<div padding style="background-color: #383F49;">
  <ion-grid style="color: white;">
    <ion-row nowrap align-items-center>
      <ion-col col-auto>
        <div float-left style="font-size: 21px; white-space: nowrap;">Consumer Discretionary</div>
      </ion-col>
      <ion-col>
        <div float-right style="font-size: 12px;">17 Apr, 10:28 AM ET</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="height: 10px;"></div>
      </ion-col>
    </ion-row>
    <ion-row nowrap align-items-end>
      <ion-col>
        <div>$103.95</div>
      </ion-col>
      <ion-col>
        <div>+2.5%</div>
      </ion-col>
      <ion-col>
        <div>+2.60</div>
      </ion-col>
      <ion-col>
        <div>19.30M</div>
      </ion-col>
      <ion-col col-2>
        <div float-right style="font-size: 12px;">Volume</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
