// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.xly {
  color: map-get($colors, xly);
}
.xly-background {
  background-image: url("../assets/imgs/consumer_discretionary.svg");
}

.xlp {
  color: map-get($colors, xlp);
}
.xlp-background {
  background-image: url("../assets/imgs/consumer_staples.svg");
}

.xle {
  color: map-get($colors, xle);
}
.xle-background {
  background-image: url("../assets/imgs/energy.svg");
}

.xlf {
  color: map-get($colors, xlf);
}
.xlf-background {
  background-image: url("../assets/imgs/financials.svg");
}

.xlv {
  color: map-get($colors, xlv);
}
.xlv-background {
  background-image: url("../assets/imgs/health_care.svg");
}

.xli {
  color: map-get($colors, xli);
}
.xli-background {
  background-image: url("../assets/imgs/industrials.svg");
}

.xlb {
  color: map-get($colors, xlb);
}
.xlb-background {
  background-image: url("../assets/imgs/materials.svg");
}

.xlre {
  color: map-get($colors, xlre);
  font-weight: bolder;
}
.xlre-background {
  background-image: url("../assets/imgs/real_estate.svg");
}

.xlk {
  color: map-get($colors, xlk);
  font-weight: bolder;
}
.xlk-background {
  background-image: url("../assets/imgs/technology.svg");
}

.xlu {
  color: map-get($colors, xlu);
}
.xlu-background {
  background-image: url("../assets/imgs/utilities.svg");
}

.positive {
  font-weight: bolder;
  color: green;
}

.negative {
  font-weight: normal;
  color: red;
}

.neutral {
  font-weight: normal;
  color: gray;
}

.header-divider {
  height: 2px;
  background-color: #2B7AD7;
}

ion-scroll {
  height: 100%;
}
