page-search {
  .symbol {
    background-color: #f0f5ff;
    border: 1px solid #e6e9ee;
    border-radius: 4px;
    padding: 0px;
    padding-top: 7px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    overflow:hidden;
  }

  #XLE {
    background-color: #fecb00;
    color: white;
  }

  #XLU {
    background-color: #f7931e;
    color: white;
  }

  #XLK {
    background-color: #92278f;
    color: white;
  }

  #XLB {
    background-color: #6e78a8;
    color: white;
  }

  #XLP {
    background-color: #00acbc;
    color: white;
  }

  #XLY {
    background-color: #a2ae00;
    color: white;
  }

  #XLI {
    background-color: #61a2dc;
    color: white;
  }

  #XLV {
    background-color: #01adee;
    color: white;
  }

  #XLF {
    background-color: #a6cd39;
    color: white;
  }

  #XLRE {
    background-color: #c31525;
    color: white;
  }
}
