  <ion-segment color="light" padding [(ngModel)]="performancePeriod" (ionChange)="onPerformancePeriodChange()">
    <ion-segment-button value="Quarter">Quarter</ion-segment-button>
    <ion-segment-button value="Month">Month</ion-segment-button>
  </ion-segment>

  <div padding *ngIf="performances !== undefined">

    <ion-item color="secondary">
      <ion-select [(ngModel)]="performanceTypeIndex" (ionChange)="onPerformanceTypeChange($event)" col-12>
        <ion-option *ngFor="let performanceType of performanceTypes let i=index" value="{{i}}">{{performanceType}}</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="selectedPerformance !== undefined">
      <ion-list>
        <ion-item color="secondary">
          <ion-label>1 Month</ion-label>
          <ion-label text-right>{{selectedPerformance.oneMonth}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>Latest Quarter</ion-label>
          <ion-label text-right>{{selectedPerformance.latestQuarter}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>Year To Date</ion-label>
          <ion-label text-right>{{selectedPerformance.calendarYTD}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>1 Year</ion-label>
          <ion-label text-right>{{selectedPerformance.annualizedOneYear}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>3 Year</ion-label>
          <ion-label text-right>{{selectedPerformance.annualizedThreeYear}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>5 Year</ion-label>
          <ion-label text-right>{{selectedPerformance.annualizedFiveYear}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>10 Year</ion-label>
          <ion-label text-right>{{selectedPerformance.annualizedTenYear}}</ion-label>
        </ion-item>
        <ion-item color="secondary">
          <ion-label>Since Inception</ion-label>
          <ion-label text-right>{{selectedPerformance.annualizedInceptionToDate}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
