<ion-scroll scrollY="true">

  <ion-segment color="light" padding [(ngModel)]="performancePeriod" (ionChange)="onPerformancePeriodChange()">
      <ion-segment-button value="Month">Month End</ion-segment-button>
      <ion-segment-button value="Quarter">Quarter End</ion-segment-button>
  </ion-segment>

  <accordion>

    <panel *ngFor="let performanceType of performanceTypes let i=index" [title]="performanceType" [subTitle]="performanceDate" >
        <performance-chart
         [index]="i"
         [performances]="selectedPerformances">
        </performance-chart>
    </panel>

  </accordion>

  <div  [innerHTML]="additionalDisclaimer" class='disclaimer' padding></div>
	<hr>
	<div  [innerHTML]="generalDisclaimer" class='disclaimer' padding></div>
</ion-scroll>
