tracker-charting {

  // #chart {
  //   background-color: white;
  // }

  .box {
    width: 100%;
  }

  .description {
    color: white;
  }

  .sAndP500Box {
    width: 100%;
    height:40px;
    font-size: 20px;
    font-weight: bold;
    background: #383F49;
    color: #DBE2E5;
    text-align: center;
  }
  .sAndP500Box:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .sapName {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }

  .sAndP500Name {
    font-size: 18px;
//    font-weight: bold;
    color: #DBE2E5;
  }

  .sAndPValue {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  .disclaimer{
    font-size: 14px;
    color: white;
  }

  a {
    color: #2b7ad7;
  }

}
