<svg width="65" height="65" viewBox="0 0 45 45" class="donut">
  <!-- the radius value gives us a circumference of 100 which allows the stroke-dasharray to work correctly with the offset -->
  <circle class="donut-ring" cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="5"></circle>
  <circle class="donut-segment" cx="50%" cy="50%" r="15.91549430918952" fill="transparent" [attr.stroke]="color" stroke-width="5" [attr.stroke-dasharray]="strokeWeight" stroke-dashoffset="25"></circle>
</svg>
