<ion-header>

  <ion-navbar color="dark">
    <ion-title>How To Invest</ion-title>
  </ion-navbar>

</ion-header>

<ion-content color="secondary">
  <ion-slides pager="true" effect="fade" style="height: 30%" class="swiper-pagination-white">
    <ion-slide style="background-image: url('assets/imgs/card-sf.png'); background-size: 100%;">
      <h2>Investing Techniques Intro</h2>
    </ion-slide>

    <ion-slide style="background-image: url('assets/imgs/card-saopaolo.png'); background-size: 100%;">
      <h2>Document Library Intro</h2>
    </ion-slide>
  </ion-slides>
  <ion-item-group>
    <ion-item-divider color="dark">Investing Techniques</ion-item-divider>
    <button ion-item *ngFor="let technique of techniques" (click)="techniqueSelected(technique)" color="secondary">
        {{ technique }}
      </button>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="dark">Document Library (PDFs)</ion-item-divider>
    <button ion-item *ngFor="let library of libraries" (click)="librarySelected(library)" color="secondary">
          {{ library }}
        </button>
  </ion-item-group>
</ion-content>
