<ion-header>

  <ion-navbar>
    <ion-title>Education</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-slides pager="true" effect="fade" style="height: 30%">
    <ion-slide style="background-image: url('assets/imgs/card-sf.png'); background-size: 100%;">
      <h2>Investing Techniques Intro</h2>
    </ion-slide>

    <ion-slide style="background-color: blue">
      <h2>Document Library Intro</h2>
    </ion-slide>
  </ion-slides>
  <ion-item-group>
    <ion-item-divider color="light">Investing Techniques</ion-item-divider>
    <button ion-item *ngFor="let technique of techniques" (click)="techniqueSelected(technique)">
        {{ technique }}
      </button>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Document Library (PDFs)</ion-item-divider>
    <button ion-item *ngFor="let library of libraries" (click)="librarySelected(library)">
          {{ library }}
        </button>
  </ion-item-group>
</ion-content>
